header, footer {
    margin: auto;
    background-color: #978efb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #000000;
    font-size: larger;
}

main {
    background-color: #978efb;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black; /*Just using the color name here to show I know I can use either, even though I understand it's best to be consistent*/
}

p {
    font-family: 'Times New Roman', Times, serif;
}

