header, footer {    /*Styles for the header and footer*/
    margin: auto;
    background-color: #978efb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #000000;
    font-size: larger;
}

main {      /*Styles for the main*/
    background-color: #978efb;
}

img {       /*Styles for the image of me*/
    max-width:100%;
    height:auto;
    align-content: center;
}        
    

ul, ol {        /*Styles for both list types*/
    text-align: left; list-style-position:inside; 
}

h3 {        /*Styles for all h3 headings*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;  /*Just using the color name here to show I know I can use different expressions, even though I understand it's best to be consistent throughout a project*/
    text-align: center;
}

p {     /*Styles for all paragraphs*/
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

