/*<----Styles for the header and footer---->*/

header, footer {
    margin: 0;    
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #978efb;
    font-size: larger;
    border: 3px solid #3cf6f0;
}

/*<----Styles for the main---->*/

main {      
    background-color: #978efb;
    margin: 0;
    padding-top: 50px;
}

/*<----Styles for the image---->*/

img {       
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border: 3px solid #3cf6f0;
}     

/*<----Styles for containers with lists---->*/

section.container-with-lists {     
    text-align: center;
  }

  /*<----Styles for lists---->*/
  
  ul.centered-list, ol.centered-list {
    display: inline-block;
    text-align: left;
  }

/*<----Styles for all h3 headings---->*/

h3 {        
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;  /*Just using the color name here to show I know I can use different expressions, even though I understand it's best to be consistent throughout a project*/
    text-align: center;
}

/*<----Styles for all paragraphs---->*/

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*<----Styles for all horizontal rules---->*/

hr.styled-hr {
    border-top: 1px solid #3cf6f0;
    width: 70%;
}

/*<----Link styles (psuedo classes)---->*/

a:link {        
    color: #3cf6f0;
}

a:visited {
    color: #3cf6f0;
}

a:hover {
    color: #0b25ea;
}

a:active {
    color: #000000;
}